---
layout: default
title: Blog
---
<header>
  <div class="blog-container">
  <div class="blog-header">
      <h1>{{ page.title }}</h1>
      <a href="/">Home</a>
  </div>
  </div>
</header>
<div class="post">
<h2>Latest Posts</h2>
<ul>
  {% for post in site.posts limit: 3%}
    <li class="post-excerpt">
      <h3><a href="{{ post.url }}">{{ post.title }}</a></h3>
      <small>{{post.date | date_to_string}}</small>
      {{ post.excerpt }}
    </li>
  {% endfor %}
</ul>

<h4>Older Posts</h4>
<ul>
  {% for post in site.posts offset: 3 %}
    <li class="old-post">
      <h5> <a href="{{ post.url }}">{{ post.title }}</a></h5> - <small>{{post.date | date_to_string }}</small>
    </li>
  {% endfor %}
</ul>
</div>

{% include footer.html %}
