---
title: Home
---
<header>
  <img src="/assets/img/cropped_picture.jpg" class="title-image" />
  <div class="subsection">
    <h1 class="heading">Steve Wenzel</h1>
    <h3 class="subheading">Full Stack Developer</h3>
    <nav class="small-nav">
      <a class="small-nav-img" href="https://www.linkedin.com/in/steven-wenzel/" target="_blank"><img src="/assets/img/iconmonstr-linkedin-3.svg" /></a>
      <a class="small-nav-img" href="https://github.com/wenzstev" target="_blank"><img src="/assets/img/iconmonstr-github-1.svg" /></a>
      <a class="small-nav-img" href="mailto:wenzelstev.gmail.com" target="_blank"><img src="/assets/img/iconmonstr-email-10.svg" /></a>
      <a class="small-nav-img" href="/assets/img/wenzel_resume_2020_technical.pdf" target="_blank"><img src="/assets/img/iconmonstr-note-14.svg" /></a>
    </nav>
  </div>
</header>

<div class="container">
  <div class="projects">
    <h2>Projects</h2>
    <ul>
      {% for project in site.projects %}
      <li class="project-list">
        <h3>{{ project.name }}</h3>
        {{project.content | markdownify }}
        <div class="project-pictures">
          {% for image in project.images %}
            <div class="hover-container">
              <div class="hover-pointer" onClick="enlarge(this.nextElementSibling)">
                <span>Expand</span>
              </div>
              <img src="{{image}}" />
            </div>
          {% endfor %}
        </div>
        {% if project.live_site %}
        <a  href="{{project.live_site}}"><img class="small-nav-img" src="/assets/img/iconmonstr-globe-3.svg" /></a>
        {% endif %}
        {% if project.github %}
        <a href="{{project.github}}"><img class="small-nav-img" src="/assets/img/iconmonstr-github-1.svg" /></a>
        {% endif %}

      </li>
      {% endfor %}
    </ul>
    </div>
      <div class="blog">
        <h2>Latest Posts</h2>
        <ul>
        {% for post in site.posts limit: 3 %}
          <li>
            <h4><a href="{{post.url}}">{{ post.title }}</a></h4>
            <h5>{{post.date | date_to_string }}</h5>
            {{ post.excerpt }}
          </li>
        {% endfor %}
        </ul>
        <a style="display:block;text-align:center;" href="/blog">Archive</a>
      </div>
</div>

<footer style="height:2rem;"></footer>

<div id="backdrop" class="modal-backdrop" onclick="closeModal()">
  <div id="modal" class="modal"></div>
</div>


<script type="text/JavaScript" src="/assets/js/enlarge.js"></script>
