small {
  font-style: italic;
  color: darkslategray;
  font-size: .75rem;
}

.blog-header {
  margin-left: 1rem;
}

.margin {
  margin: 1rem;
}

.post-excerpt {
  margin-bottom: 1rem;
}

.old-post {
  display: block;
  margin-bottom: .5rem;

}

.old-post h5{
  display: inline;
}
