small {
  font-style: italic;
  color: darkslategray;
  font-size: .75rem;
}

.post {
  max-width: 600px;
  margin: auto;
  padding: .75rem;
}

.post p {
  margin-bottom: 2rem;
}

.post a {
  color: darkgray;
}

.blog-container {
  margin: auto;
}

.blog-header {
  width: 600px;
}

@media only screen and (max-width: 600px) {
  .blog-header {
    width: 95vw;
  }
  .blog-container {
    margin: 0;
  }
}

.margin {
  margin: 1rem;
}

.post-excerpt {
  margin-bottom: 1rem;
}

.old-post {
  display: block;
  margin-bottom: .5rem;

}

.old-post h5{
  display: inline;
}
