footer {
  background-color: burlywood;
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: .75rem;
  font-size: .8rem;
  box-sizing: border-box;
}


.footer-spread {
  max-width: 600px;
  margin: auto;
  display: flex;
  justify-content: space-between;
}

.content {
  padding-bottom: 4rem;
}

p {
  margin: 1rem 0;
}

.full-page {
  position: relative;
  min-height: 100vh;
}
