
body {
  font-family: "Open Sans", sans-serif;
  background-color: antiquewhite;
  margin: 0;
}

header {
  display: flex;
  background-color: burlywood;
  padding: .75rem;
}



li {
  list-style-type: none;
}

ul {
  padding-left: 0;
}

h1 {
  margin: 0 0 .5rem 0;
}

h2 {
  margin: 0;
}

h3 {
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
  transition: all .2s ease-in-out;
}

a:hover {
  color: darkslategray;
}

.container {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  box-sizing: border-box;
}

@media (max-width: 480px){
  .container {
    flex-wrap: wrap;
  }
  .projects {
    width: 95vw;
  }

}

@media (min-width: 481px){
  .blog {
    max-width: 30%;
  }
  .projects {
    max-width: 70%;
  }
}

.projects {
  margin: .5rem;
}

.projects h2 {
  margin: 1rem;
}

.projects h3 {
  color: slategray;
}

.projects p {
  font-size: .9rem;
}

.projects li {
  margin: .5rem 0;
  background-color: #F6DCB9;
  padding: .5rem;
  border-radius: 3px;

}


.blog {
  margin: 4.5rem .5rem .5rem .5rem;
  padding: .5rem;
  border-radius: 3px;
  background-color: #EEDFFB;
}

@media (max-width: 480px) {
  .blog {
    margin: .5rem;
  }
}

.blog h2 {
  text-align: center;
}

.blog h4 {
  margin-bottom: 0;
}

.blog h5 {
  font-style: italic;
  color: darkgray;
  margin-top: 0;
  margin-bottom: .25rem;
}

.blog p {
  margin-top: .25rem;
}

.blog a {
  text-decoration: none;
  color: inherit;
  transition: all .2s ease-in-out;
}

.blog a:hover {
  color: darkgray;
}



.small-nav {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.small-nav-img {
  margin-top: .75rem;
  text-decoration: none;
  transition: all .1s ease-in-out;
}

.small-nav-img:hover {
  transform: scale(1.1)
}


.current {
  color: green;
}

.nav-item {
  margin: .5rem;
  text-decoration: none;
}

.heading {
  margin-bottom: 0;
}

.subheading {
  margin: .25rem;
}

.title-image {
  width: 10rem;
  height: 10rem;
  border-radius: 100%;

}

.subsection {
  margin: 1rem;
}

.top-nav {
  background-color: lightgray;
  padding: .5rem;
}
