.project-pictures {
  overflow-x: auto;
  display: flex;
}

.project-pictures img {
  height: 100%;
}

.hover-pointer {
  background-color: rgba(255, 255, 255, 0);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  transition: .2s all ease-in-out;
}

.hover-pointer span {
  background-color: rgba(255, 255, 255, 0);
  color: rgba(0,0,0,0);
  font-weight: bold;
  transition: .2s all ease-in-out;
  border-radius: 5px;
}


.hover-pointer:hover{
  background-color: rgba(255, 255, 255, .3);
  color: rgba(0,0,0,1);
}

.hover-pointer:hover span{
  background-color: rgba(255, 255, 255, .5);
  padding: .25rem;
  border-radius: 5px;
  color: rgba(0,0,0,1);
}

.hover-container {
  margin: .5rem 1rem .5rem 0;
  position: relative;
  height: 10rem;
  display: inline-block;
}

.modal {
  margin: 10% auto;
  padding: 0;
  width: 90%;

}

.modal img {
  width: 100%;
  display: block;
}

@media (min-width: 480px) {
  .modal img {
    max-height: 70vh;
    width: auto;
    margin: auto;
  }
}

.modal-backdrop {
  height: 100vh;
  width: 100vw;
  background-color: rgba(0,0,0,.4);
  z-index: 1;
  position: fixed;
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
  transition: all .5s ease-in-out;
}
